body {
  font-family: 'Ubuntu', sans-serif;
}

.landing {
  background-image: url("https://bklvuvml.github.io/bluetip-labs/imgs/assets/landing.svg");
  height: 100vh;
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.bg-navBar {
  background-color: transparent;
}

@media screen and (max-width: 576px) {
  .landing {
    background-image: url("https://bklvuvml.github.io/bluetip-labs/imgs/assets/landing-mobile.svg");
    height: 100vh;
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
  }

  .bg-navBar {
    background-color: white;
  }
}
